.sitebar {
	flex-basis: 212px;
	margin-right: 21px;

	@media (max-width: $md4+px) {
		margin-right: 0;
	}
	&__btn {
		display: block;
		padding: 13px 0px 13px 24px;
		border-radius: 5px;
		background-color: #ed6d3b;
		font-size: 20px;
		color: #fff;
		position: relative;
		@include anim(0.7s, 0s);
		margin-bottom: 29px;

		@media (max-width: $md4+px) {
			display: none;
		}

		&:after {
			content: "\f303";
			font-family: "FontAwesome";
			position: absolute;
			top: 50%;
			margin-top: -15px;
			right: 20px;
			width: 20px;
			height: 20px;
		}
		&:hover {
			background-color: #d84207;
		}
	}

	&__img {
		margin-bottom: 30px;
		@media (max-width: $md4+px) {
			display: none;
		}
	}
}
.sitebar-nav {
	background-color: #f8f8f8;
	margin-bottom: 80px;

	@media (max-width: $md4+px) {
		margin-bottom: 40px;
	}
	&__list {
		@media (max-width: $md4+px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__item {
		display: block;
		background-color: #f3f2f0;
		position: relative;
		margin-bottom: 4px;

		@media (max-width: $md4+px) {
			margin-right: 4px;
			width: 100%;
		}
	}

	&__item-link {
		display: block;
		color: #4f4f4f;
		padding: 10px 0px 11px 18px;
		position: relative;
		z-index: 1;
		@include anim(0.5s, 0s);
		&:hover {
			color: #ffffff;
			background-color: #ed6d3b;
		}
	}

	&__submenu {
		background-color: #f8f8f8;

		overflow: hidden;
		height: 0;
		@include anim(0.3s, 0s);
	}

	&__submenu-link {
		display: inline-block;
		color: #8c8c8c;
		border-bottom: 1px solid #8c8c8c;
		font-size: 13px;
		position: relative;
		margin-left: 17px;
		margin-bottom: 7px;

		&:hover {
			color: #ed6d3b;

			&:before {
				background-color: #ed6d3b;
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -17px;
			transform: translateY(-50%);
			height: 1px;
			width: 13px;
			background-color: #8c8c8c;
		}
	}
}
.submenu-active {
	height: 100%;
	padding: 14px 0px 14px 18px;
}
.sitebar .article {
	@media (max-width: $md4+px) {
		display: none;
	}
}
.article {
	margin-bottom: 22px;

	&--mod {
		margin-bottom: 37px;
	}
	&__date {
		display: block;
	}
	&__date,
	&__prf {
		font-size: 12px;
		color: #898989;
	}
	&__title {
		display: inline-block;
		border-bottom: 1px solid #4f4f4f;
		color: #4f4f4f;
	}
	&__prf {
		line-height: 20px;
	}
}
